asgiref==3.3.4
bcrypt==3.1.7
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cryptography==2.8
Django==3.2
gunicorn==20.1.0
idna==2.8
MarkupSafe==1.1.0
pytz==2019.3
requests==2.22.0
simplejson==3.16.0
six==1.14.0
sqlparse==0.4.1
django-admin==0.3.1
whitenoise==5.2.0
dj-database-url==0.5.0
